.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  padding: 1.5rem;
  width: 400px;
  margin-top: 20px;
  border-radius: 55px;
  background: #444;
  border: 1px solid;
  color: whitesmoke;
}

.btn {
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 15px;
  border: 1px solid wheat;
}
.btn:hover {
  background-color: #444;
  color: white;
}
